*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 1.25rem;
    font-family: cursive;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #002902ee, #007406ee )
    
}
.left{
    flex-basis: 30%;
}
.right{
flex-basis: 50%;
display: grid;
gap: 10px;
grid-template-columns: repeat(3,1fr);
grid-auto-rows: 120px;
}
.child-imgs{
   background-size: cover;
   background-position: center;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.child-imgs:hover{
    
   transform: scale(1.03);
   background-position: center;
   box-shadow: 0 0 1px #ffffffee;
}
.left h2{
    color: white;
    text-align: center;
}
.left p{
    color: white;
    text-align: center;
}
#box-1{
    grid-row: span 2;
    border-radius: 15px;
}
#box-2{
    grid-column: span 2;
    border-radius: 15px;
}