*{
    margin: 0;
    padding: 1px;
}


/* div {

    display: inline-flex;
    align-items: center;
    text-align: justify;

} */
 ul> li> a{
    text-decoration: none;
    color: black;

 }
 ul>li{
    list-style: none;
    display: inline;
    padding: 20px;
 }
 .container{
    display: flex;
 }
.container > .box{

    border: 1px solid green;
    width: 100px;
}
ul{
    text-align: right;
}
a:hover{
    color: red;
}
div.paragraphs{
    
    overflow: auto;
    height: 200px;
    width: 600px;
    
    }

div.imageco img{
              width: 500px;
              
              top: 1%;
              left: 72%;

              
    }
    /* div.imageco{
        display: flex;
        justify-content: center;
        align-items: center;
    } */